/* url('https://r4.wallpaperflare.com/wallpaper/212/481/145/bodybuilding-bodybuilder-arnold-schwarzenegger-wallpaper-29d0b84dd18a1d0bf627784f40d1b60d.jpg') ;
 */

body {
    margin: 0;
    padding: 0;
}

 .textcenter {
    text-align: center;
 }

 #navbar {
    display: flex;
    position: sticky;
 }

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
 
 #navlogo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
 }

.navbutton {
    color: white;
}
#navbar ul {
    display: flex;
}

.navitems {
    list-style-type: none;
}